@CHARSET "UTF-8";

#ibooker_editor_dialog_mask {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #444;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	height: 1000px;
	width: 100%;
	z-index: 1000;
	display: none;
}

#ibooker_editor_dialog {
	position: fixed;
	z-index: 1001;
	background: white;
	padding: 10px 15px;
	min-height: 400px;
	min-width: 200px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #DEDEDE;
	/* -webkit-box-shadow: 0 6px 10px 0 #DEDEDE;
	box-shadow: 0 6px 10px 0 0 #DEDEDE;
	text-shadow: 0 1px 1px 0 0 #DEDEDE; */
}

#ibooker_editor_dialog a {
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
/* Dialog选项卡 */
#ibooker_editor_dialog_tab {
	width: 94%;
	height: 46px;
	margin: 0 3%;
	border-bottom: 1px solid #dddddd;
}

#ibooker_editor_dialog_tab ul {
	list-style: none;
	height: 46px;
	margin: 0;
	padding: 0;
}

#ibooker_editor_dialog_tab ul li {
	float: left;
	margin: 0;
	padding: 0 15px;
	height: 46px;
	line-height: 46px;
	vertical-align: middle;
	text-align: center;
}

#ibooker_editor_dialog_tab ul li a {
	float: left;
	height: 46px;
	position: relative;
	text-align: center;
	padding: 0 3px;
	width: 100%;
}

#ibooker_editor_dialog_tab ul li a span {
	border-bottom: 2px solid #fe6517;
	float: left;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
}

#ibooker_editor_dialog_tab ul li .ibooker-editor-dialog-tab-item:hover {
	color: #fe6517;
}

#ibooker_editor_dialog_tab ul li .ibooker-editor-dialog-tab-item:hover span
	{
	display: block;
}

#ibooker_editor_dialog_tab ul li .ibooker-editor-dialog-tab-item span {
	display: none;
}

#ibooker_editor_dialog_tab ul li .ibooker-editor-dialog-tab-active {
	color: #fe6517;
	cursor: default;
}

#ibooker_editor_dialog_tab ul li .ibooker-editor-dialog-tab-active span
	{
	display: block;
}

/* Dialog内容区 */
#ibooker_editor_dialog_content {
	width: 98.6%;
	margin: 20px 0.7%;
	text-align: center;
	overflow: auto;
	display: inline-block;
	max-height: 314px;
	padding: 1px 0;
}

#ibooker_editor_dialog_content table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	margin: 0 auto;
	background-color: white;
}

#ibooker_editor_dialog_content tr {
	width: 100%;
}

#ibooker_editor_dialog_content tr td {
	border-left-width: 0px;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	text-align: center;
	padding: 9px 12px;
}

#ibooker_editor_dialog_content tr td:hover {
	background-color: #F2F2F2;
	cursor: pointer;
}